.navigation{
    width: 200px;
    height: 100%;
    background:  linear-gradient(to right bottom, 
    rgba(255,255,255,0.7),
    rgba(255,255,255,0.3));
    backdrop-filter: blur(1rem);
    border-radius: 2rem;
    z-index: 9;
    flex-direction: column;
    flex: 0.5;
}
.border{
    border: 1px solid lightgrey;
}

.logo{
    width: 135px;
    height: 135px;
    margin-top: 15px;
    background-image: url('../../assets/My_photo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.backgroundColor{
    width: 45px;
    height: 30px;
    border-radius: 30px;
    background: transparent;
    color: #6cdbeb;
}

.navIcons{
    cursor: pointer;
    /* box-shadow: 6px 6px 20px rgba(122,122,122,0.2); */
}

.navIcons:hover{
transform: scale(1.1);
}

.navigationLinks ul li {
    list-style: none;
    margin-top: 18px;
}

.navigationLinks ul {
    margin:0 64px 0 0; ;
}

.spaceBetween{
    justify-content: space-between;
}

.line{
    width: 1px;
    height: 120px;
    background-color: black;
    margin-left: 61px;
}
